# Compiled class file
*.class
target

# Log file
*.log

#output file
*.csv

#output graph
*.png

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
/bin/
/executable/output
/output

#log files
*.log
*.lck

*.bak